.header-container{
    height: 70px;
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}

.home-icon{
    color:var(--white);
    cursor:pointer;
    font-size:30px;
}

.categories-container{
    width:50%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav-link,.auth-link{
    text-decoration: none;
    color:var(--white);

}

.logout-button{
    text-decoration: none;
    margin-left: 20px;
    border: none;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    background-color: var(--light-bg);
}

.username{
    color:var(--white);
}